* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif; 
    color: #837E9F;
}

html, body {
    background-color: #22212c;
    height: 100%;
}

/* CONTAINER */

.container {
    display: flex;
    width: 90vw;
    margin: 5vh auto;
    column-gap: 3vw;
}

/* STANDARD STYLE BOX*/

.box {
    background-color: #302f3d;
    box-shadow: 3px 3px 2px #1c1b24;
    border-radius: 15px;
    padding: 15px 30px;
}

/* LEFT SIDE*/

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

/* PROFILE */

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vw;
    padding: 10px;
}

.pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
.pic > img {
    border: 1px solid #00ff00;
    width: 120px;
    border-radius: 100%;
}

.info-profile {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #837E9F;
}

.dev {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #837E9F;
        font-weight: 200;
        font-size: 14px;
}


/* DIVERSAS */

.diversas {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #837E9F;
    
}

.center {
    display: flex;
    align-items: center;
}

.espaco {
    margin: 10px;
    font-size: 14px;
}

.flexcenter {
    display: flex;
    align-items: center;
}

.icon > img {
    border-color: #837E9F;
}


/* TECHS */

.techs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.title-techs {
    margin-left: -5px;
    margin-bottom: 5px;
}

.techs-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cb92b1;
    border-radius: 100px;
    padding: 6px 7px;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 33%;
    margin: 5px 5px;
}

.floor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.techs-box > .javascript > p, .html5 > p, .reactjs > p, .nodejs > p, .css3 > p, .react-native > p {
    color: black !important;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    
}


/* EXPERIENCE */

.experience {
    margin-top: 30px;
}

.title-experience {
    margin-left: -5px;
}

.lista > li {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 700;
}

.periodo, .cargo {
    margin-left: 10px;
}
.lista > .periodo {
    font-style: italic;
    font-weight: 200;
}

/* MISC | MY PROJECTS AND RECENTS POSTS */ 


.misc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 2;
} 

/* MY PROJECTS*/

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-projects > h1 {
    font-size: 20px;
}

.veja-todos > p {
    font-size: 14px;
}


/* PROJETOS*/

.my-projects {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 30px;
    column-gap: 30px;
}


.icon-project > img {
    width: 20px;
}

.project-one {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.title-project {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.name-project > h3 {
    font-size: 15px;
}

.descricao-projeto > p {
    font-size: 14px;
    margin: 10px 0;
    font-weight: 300;
}

.stats {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.stars {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.qnt-star {
    font-size: 13px;
}

.icon-star > img {
    width: 20px;
}

.icon-branch > img {
    width: 20px;
}

.qnt-branch {
    font-size: 13px;
}

.branchs {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.below {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.tech-used {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.lang > p {
    font-size: 14px;
}

.color {
    width: 14px;
    height: 14px;
    background-color: tomato;
    border-radius: 100px;
    border: 2px solid #837E9F;
}

/* RECENTS POSTS*/

.recents {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.title-recents > h1 {
    font-size: 20px;
}

/* POSTS */

.posts {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.post {
    display: flex;
}

.post-group {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.time-post > p {
    font-size: 13px;
    font-weight: 200;
    margin-top: 5px;
}

.img-post > img {
    width: 120px;
}

.descricao-post {
    margin: 10px 0;
}

.hashtag-group {
    display: flex;
}

.hashtag {
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;
    padding-top: 5px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

footer > p{
    margin-bottom: 5px;

}
